*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.app__registration
{
  display: flex;
  justify-content: center; 
  background-color: rgb(45, 45, 45);
}
.content__logo__registration
{
 margin-left: 30px;
 text-decoration:none;
}
.content__title__registration
{ 
    padding-top: 30px;
    color: rgb(255, 255, 255);
}
.forma__registration
{ 
    padding-left: 30px;   
}
.button__registration
{
  border: 3px rgb(0, 0, 0);
  margin-left: 20px;
  background:rgb(0, 0, 0);
  border-radius: 20px;
  padding: 13px;
  color:rgb(255, 255, 255);
}
.button__registration:hover
{
  text-decoration: underline;
}