*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.app
{
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 200px 1fr;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.artists
{
  color:rgb(181, 181, 181);
}
.header
{
  display:flex;
  align-items: center;
  background-color: rgb(128,128,128);
  height: 75px;
  padding: 16px 40px;
  font-size: 20px;
  margin-left: 200px;
  grid-column: 1/3;
}
.header_navigation
{
  margin-left: auto;
  font: 25px "PT Sans", Arial;
  flex-shrink: 0;
}
.header__search
{
  width: 100%;
  min-width: 100px;
  max-width: 500px;
  font-size: 25px;
  border-radius: 10px;
  padding-left: 10px;
}
.link 
{
  text-decoration:none;
  border: 3px rgb(0, 0, 0);
  margin: 5px;
  background:rgb(0, 0, 0);
  border-radius: 20px;
  padding: 13px;
  color:rgb(255, 255, 255);
}
.link:hover
{
  text-decoration: underline;
}
.link2
{
  font-size: 20px;
  padding-left: 13px;
  padding-top: 15px;
  text-decoration:none;
  flex-shrink: 0;
  color:rgb(255, 255, 255);
}
.link2:hover
{
  text-decoration: underline;
}
.glavnaya
{
  color:rgb(255,0,0);
}
.sidebar
{
  display:flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  margin-top: -75px;
  flex-shrink: 0;  
}
.sidebar__title
{
  margin-left: 60px; 
  margin-top: -40px;
  font-size: 35px;
  font-family:'Monotype Corsiva';
}
.logo2
{
  width:45px;
  height:45px;
}
.picture_home
{
  width:184px;
  height:262px;
}
.button_home{
  width:184px;
  height:262px;
   margin-left: 30px;
  background-image: none;
   font-size: 0;
   border: medium none;
}
.picture_search
{
  width:206px;
  height:206px;
}
.footer
{
  display:flex;
  background-color: rgb(128,128,128);
  justify-content: space-between;
  grid-column: 1/3;
  padding: 0px 40px;
}
.footer_navigation
{
  display:flex;
  flex-direction: column;
}
.content
{ 
  padding-left: 30px;
  overflow-y: auto;
  background-color: rgb(45, 45, 45);
}
.content__img
{
  padding-top: 30px;
}
.content__logo
{
  margin-left: 30px;
  text-decoration:none;
  
}
.content__button
{ margin-left: 30px;
  background-image: none;
   font-size: 0;
   border: medium none;
}
.content__title
{ 
  padding-top: 30px;
  margin-left: 30px;
  color:rgb(255, 255, 255);
}
.item-actions_action
{ 
  position:relative;
  top:-17px;
  padding: 15px;
  font-size: 20px;
  border-radius: 40%;
}
.item-actions_type_OK
{ 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top:90px;
  padding-left: 10px;
  padding-right: 10px;
  left: 120px;
}
.li
{ 
  margin-top: 20px;
  margin-left: 70px;
  font-size: 30px;
  color:rgb(255, 255, 255);
}
#blackout 
{
  background: rgb(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  
}
#window 
{
  width: 300px;
  height: 110px;
  text-align: center;
  padding: 15px;
  border: 3px solid rgb(4, 0, 255);
  border-radius: 10px;
  color: rgb(255,0,0);
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgb(255, 255, 255);
}
#windowlist
{
  overflow-y: auto;
  width: 40%;
  height: 60%;
  padding: 15px;
  border-radius: 10px;
  color: rgb(255,0,0);
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgb(93, 91, 91);
}
#blackout:target 
{
  display: block;
}
.item-actions_type_Close
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top:0px;
  padding-left: 6%;
  padding-right: 6%;
  left: 80%;
}
.close 
{
  display: inline-block;
  border: 1px solid rgb(0, 0, 204);
  color: rgb(0, 0, 204);
  padding: 0 12px;
  margin: 15px;
  text-decoration: none;
  background: rgb(255, 255, 255);
  font-size: 14px;
  cursor:pointer;
}
.close:hover 
{
  background: rgb(255, 255, 255);
}
.hide{
  display: none;
}